/* Tuvalin stilini ayarlayalım */
#tuval {
  /* Tuvali sayfanın ortasına yerleştirelim */
  margin: auto;
  display: block;

  /* Tuvalin arka plan rengini beyaz yapalım */
  background-color: white;

  /* Tuvalin kenarlığını siyah yapalım */
  border: 1px solid black;
}
